<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-danger">
  <a class="navbar-brand" href="#">
    <img src="../../assets/gith.png" alt="" class="img-responsive" style="max-height: 40px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-light" routerLink="/profile">Meu perfil</a>
      <a class="nav-item nav-link text-light" routerLink="/devs">Devs</a>
      <a class="nav-item nav-link text-light" routerLink="">Sair</a>
    </div>
  </div>
</nav>
