<div class="row">
  <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <div class="card linear">
      <div class="card-header bg-dark">
        <h1 class="text-center text-light">Login</h1>
      </div>
      <div class="card-body">
        <h5 class="text-danger text-center">{{erro}}</h5>
        <form [formGroup]="loginForm" (submit)="login()">
          <div class="form-row">
            <div class="col-12">
              <label for=""><b>Email</b></label>
              <input formControlName="email" type="email" class="form-control " placeholder="Entre com seu email" #nameUserInput>
              <small class="text-danger mt-4" *ngIf="loginForm.get('email').errors?.required"></small>
            </div>
          </div>
          <br />
          <div class="form-row">
            <div class="col-12">
              <label for=""><b>Senha</b></label>
              <input formControlName="password" type="password" class="form-control " placeholder="Digite sua senha">
              <small class="text-danger mt-4" *ngIf="loginForm.get('password').errors?.required"></small>
            </div>
          </div>
          <br />
          <div class="form-row">
            <div class="col-12">
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary full-btn">Realizar
                login</button>
            </div>
            <div class="col-12 d-flex justify-content-center" style="margin-top: 5%;">
              <a href="#">Esqueci minha senha</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
