<div class="row  margin-top">
  <div class="col-md-10 col-lg-10">
    <h1 class="text-center">Encontre um Dev</h1>
    <input type="text" class="form-control form-control-sm" #devInput> <br />
  </div>
  <div class="col-md-2 col-lg-2">
    <button class="btn btn-primary btn-sm pull-right button-top" (click)="onSearchDev(devInput)" appButton>Procurar</button>
  </div>
</div>
<div class="row" *ngIf="key">
  <div class="col-md-10 col-lg-10 d-flex justify-content-center">
    <div class="card" style="width: 22rem;">
      <img [src]="dev.avatar" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ dev.name }}</h5>
        <p class="card-text">{{ dev.bio }}</p>
        <a href="{{dev.url}}" class="btn btn-primary" target="_blanck">Acessar o GitHub</a>
      </div>
    </div>
  </div>
</div>
