<div class="row container-top" *ngIf="user">
  <div class="col-md-5 col-lg-5">
    <div class="card">
      <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="text-center">{{user.name}}</h4>
        <h5 class="text-center text-muted">{{user.email}}</h5>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-5" >
      <div class="card">
        <img class="card-img-top img-padding" src="../../assets/gitBanner.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="text-center">{{user.git}}</h4>
          <h5 class="text-center text-muted">Seguidores: {{user.seguidores}}</h5>
          <h5 class="text-center text-muted">Seguindo: {{user.seguindo}}</h5>
          <h5 class="text-center text-muted"><a href="{{user.url}}" target="_blank">Acessar meu GitHub</a></h5>
        </div>
      </div>
    </div>
</div>
